{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %} Export | {{ site_title|default:_('Electrogas') }}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'ElectroGas Administration' %}</h1>
{% endblock %}

{% block content %}
  <form id="export-report-form" action="" method="post" class="form-horizontal">{% csrf_token %}
    <div>
      {{ form.header.label_tag }}{{ form.header }}&nbsp;
      {{ form.delimiter.label_tag }}{{ form.delimiter }}&nbsp;
      {{ form.quotechar.label_tag }}{{ form.quotechar }}&nbsp;
      {{ form.quoting.label_tag }}{{ form.quoting }}&nbsp;
      {{ form.escapechar.label_tag }}{{ form.escapechar }}&nbsp;
    </div>
    &nbsp;&nbsp;
    <div>
      <input id="export-report-button" type="submit" value="{% trans 'Export' %}" class="btn btn-success"/>
      <a href="{{ back }}" class="btn">{% trans 'Go back to report' %}</a>
    </div>
  </form>
{% endblock %}
