{% extends "admin/index.html" %}

{% block sidebar %}
    {#{block.super}#}
    <div id="content-related-custom" class="inline-group">
        <h2>User Dashboard</h2>
        <!-- <hr> -->
        <table>
        	<tr>
        		<th><a href="/overseer/dashboard/">My dashboard</a><br></th>
        	</tr>
        	<tr>
        		<th><a href="{% url 'admin_reports:history_report' %}">User Course History</a></th>
        	</tr>
        </table>
    </div>
    <style type="text/css">
        #content-related-custom {
            float: right;
            width: 600px;
            position: relative;
            margin-right: -650px;
        }
    </style>
{% endblock %}

