{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block title %} {{title}} | {{ site_title|default:_('Electrogas') }}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'ElectroGas Administration' %}</h1>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  {% if suit %}
    <link rel="stylesheet" type="text/css" href="/static/suit/css/suit.css" media="all">
  {% endif %}
  {% if has_filters %}
    <link rel="stylesheet" type="text/css" href='{% static "admin/css/forms.css" %}' />
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {{ form.media.css }}
  {% endif %}
  <link rel="stylesheet" type="text/css" href='{% static "admin_report/css/reportlist.css" %}'/>
  <link rel="stylesheet" type="text/css" href='{% static "admin/css/changelists.css" %}' />
  {{ media.css }}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media.js }}
  {% if has_filters %}
    {{ form.media.js }}
  {% endif %}
{% endblock %}

{% block bodyclass %}report change-list{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content_title %}
  <h3>{{title}}</h3>
{% endblock %}

<!-- {% block title_text %}
  <div id="description" class="clerfix" style="padding-left:10px;">
    {% if description %}<p>{{ description }}</p>{% endif %}
    {% if help_text %}<span style="cursor:pointer; color:#295584; text-decoration:underline;" onclick="javascript:$('#help-text').toggle();">See more</span>{% endif %}
  </div>
  <div id="help-text" class="help clearfix" style="display:none; margin-top:5px; margin-bottom:5px; border:1px solid #f9f9f9; background:#fff; padding:10px; ">
    {{ help_text }}
  </div>
{% endblock %} -->

{% block content %}
  
  <div id="content-main">
    {% block object-tools %}
        <ul class="object-tools">
          {% block object-tools-items %}
            <li>
              <a href="{{ export_path }}" class="btn btn-info">
                {% trans 'Export' %}
              </a>
            </li>
          {% endblock %}
        </ul>
    {% endblock %}

    <div id="changelist" class="module filtered">
      <div id="toolbar" {% if suit %}class="clearfix"{% endif %} style="margin-bottom: 0;">
        <div class="d-flex justify-content-between align-items-end">
          <span class="small quiet result-count" >
            {{ help_text }}
          </span>
          <span class="small quiet result-count">
            {{ rl.get_result_count }} {% trans 'results' %}
            <a href="?">{% trans 'Clear query' %}</a>
          </span>
        </div>
      </div>

      {% block filters %}
        {% if has_filters %}
          <div id="changelist-filter" {% if suit %} class="clearfix" {% endif %}>
            <h2>{% trans 'Filter' %}</h2>
              <form id="report-search" action="" method="get" class="form-inline">
                {% for field in form %}
                  <h3>{{ field.label}}</h3>
                  <ul>
                    <li>
                      <p class="errorlist" style="color:red">
                      {% for error in field.errors %}
                        {{ error }}
                      {% endfor %}
                      </p>
                      {{ field }}
                      {% if field.help_text %}
                      <p class="help">{{ field.help_text|safe }}</p>
                      {% endif %}
                    </li>
                  </ul>
                {% endfor %}
                <input type="submit" value="{% trans 'Filter' %}" class="btn btn-info"/>
              </form>
          </div>
        {% endif %}
      {% endblock %}

    {% block result_list %}
      <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
        <!-- <div class="actions">
          <span class="small quiet result-count">
          </span>
        </div> -->

        <div class="results">
          {% block result %}
            <table id="result_list" {% if suit %}class="table table-striped table-bordered table-hover table-condensed"{% endif %}>
              <thead>
                <tr>
                  {% for header in rl.headers %}
                    {% if forloop.counter > 2 %}
                    <th scope="col" {{ header.class_attrib }}>
                      {% if header.sortable %}
                        {% if header.sort_priority > 0 %}
                          {% if suit %}<div class="relative-wrapper">{% endif %}
                            <div class="sortoptions">

                              {% if rl.num_sorted_fields > 1 %}<span class="sortpriority" title="{% blocktrans with priority_number=header.sort_priority %}Sorting priority: {{ priority_number }}{% endblocktrans %}">{{ header.sort_priority }}</span>{% endif %}

                              <a href="{{ header.url_toggle }}" class="toggle {% if header.ascending %}ascending{% else %}descending{% endif %}" title='{% trans "Toggle sorting" %}'></a>
                              <a class="sortremove" href="{{ header.url_remove }}" title='{% trans "Remove from sorting" %}'></a>
                            </div>
                          {% if suit %}</div>{% endif %}
                        {% endif %}
                      {% endif %}
                      <div class="text">{% if header.sortable %}<a href="{{ header.url_primary }}">{{ header.label|capfirst }}</a>{% else %}<span>{{ header.label|capfirst }}</span>{% endif %}</div>
                      <div class="clear"></div>
                    </th>
                    {% endif %}
                  {% endfor %}
                </tr>
              </thead>

              {% if totals and totals_on_top %}
                {% include "admin/report_totals.html" %}
              {% endif %}

              <tbody>
                
                
                {% for result in rl.results %}
                  
                  <tr class="{% cycle 'row1' 'row2' %}">
                    <td class="">
                      <a href="javascript:void(0)" id="{{result.0.1}}" class="historyClick">{{result.2.1}}</a>
                    </td>

                    {% for alignment, item in result %}
                      {% if forloop.counter > 3 %}
                        {% if forloop.counter == 4 %}
                          <td class="{{ alignment }}">
                            <a href="javascript:void(0)" class="user_click" id="{{result.1.1}}">{% if item %}{{ item }}{% endif %}</a>
                          </td>
                        {% elif forloop.counter == 9 %}
                          <td class="{{ alignment }}">
                            {% if item %}
                            {% if item|stringformat:'s' == 'Pass'|stringformat:'s' %}
                              <span style="color:green">{{ item }}</span>
                            {% elif item|stringformat:'s' == 'Fail'|stringformat:'s' %}
                              <span style="color:red">{{ item }}</span>
                            {% elif item|stringformat:'s' == 'Pending'|stringformat:'s' %}
                              <span style="color:blue">{{ item }}</span>
                            {% endif %}
                            {% endif %}
                          </td>
                        {% else %}
                          <td class="{{ alignment }}">{% if item %}{{ item }}{% endif %}</td>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </tr>
                  
                {% endfor %}
              </tbody>

              {% if totals and not totals_on_top %}
                {% include "admin/report_totals.html" %}
              {% endif %}

            </table>
          {% endblock %}
        </div>
        {% block pagination %}{% pagination rl %}{% endblock %}
      </form>
    </div>
    {% endblock %}

  </div>

  <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">History Questions Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <div class="modal fade" id="user_profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 190px">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">User Image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="image-modal-body text-center">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="{% static 'induction/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'induction/css/jquery.datetimepicker.min.css' %}" />
  <script src="{% static 'induction/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'induction/bootstrap/js/bootstrap.min.js' %}" ></script>
  <script src="{% static 'induction/js/jquery.datetimepicker.min.js' %}"></script>

  <script type="text/javascript">
    $( document ).ready(function() {
      $('#id_course_complete_date_from').datetimepicker({format:'m/d/Y H:i:s',});
      $('#id_course_complete_date_to').datetimepicker({format:'m/d/Y H:i:s',}); 

      $('.historyClick').click(function(){
        var history_id = $(this)[0].id;
        if(history_id &&  history_id != 'None'){
          $.ajax({
            type: "GET",
            url: window.location.origin + "/questionhistory/" + history_id,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data){

                var count=0
                var html=''
                $.each(data, function (){
                  count+=1
                  html += '<div>';
                  html += '<div><strong>Question: </strong> '+this.user_course_question__question_title+' </div>';
                  html += '<div><strong>Your Answer: </strong> '+(this.user_course_actual_answer ? this.user_course_actual_answer : 'Pending')+'</div>';
                  html += '<div><strong>Question Weightage: </strong> '+this.user_course_question_weightage+'</div>';
                  html += '<div><strong>Obtained Weightage: </strong> '+(this.user_course_question_obtained_weightage ? this.user_course_question_obtained_weightage : '0')+'</div>';
                  html += '</div>';
                  if(count != data.length)
                    html += '<hr>';
                });

                if(!data.length)
                {
                  html += 'No information available.';
                }
                $('.modal-body').html(html);
                $('#historyModal').modal('show');
            },
            failure: function () {
              var html='<div> Failed to get questions information</div>';
              $('.modal-body').html(html);
              $('#historyModal').modal('show');
            }
          });
        }
        else
        {
          var html='<div> Course is not attempted yet. </div>';
          $('.modal-body').html(html);
          $('#historyModal').modal('show');
        }
      });

      $('.user_click').click(function(){
        user_img_id = $(this)[0].id;
        if(user_img_id && user_img_id != 'None')
        {
          var html='<img src="'+ user_img_id +'" width="125" height="140" />';
          $('.image-modal-body').html(html);
          $('#user_profile').modal('show');
        }
      });
    });
  </script>

{% endblock %}


