{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- set favicon.ico -->
  <link rel="shortcut icon" href="{% static 'induction/favicon.ico' %}"/>
  
  <!-- Bootstrap CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{% static 'induction/bootstrap/css/bootstrap.min.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'induction/css/jquery.datetimepicker.css' %}"> -->
  <link rel="stylesheet" href="{% static 'induction/css/custom.css' %}">
  <title>Electrogas Induction</title>

  <script src="{% static 'induction/js/jquery-3.4.1.min.js' %}" ></script>
  <script src="{% static 'induction/js/popper.min.js' %}" ></script>
  <script src="{% static 'induction/bootstrap/js/bootstrap.min.js' %}" ></script>
</head>

<body>

  <!-- include header -->
  {% if user_session %}
    {% include 'induction/main_header.html' %}
  {% else %}
    {% include 'induction/header.html' %}
  {% endif %}

  <!-- include menu -->
  {#% include 'induction/menu.html' %#}

  <!-- main content will be rendered here -->
  {% block main %}
  {% endblock %}
  
  <!-- include footer   -->
  {#% include 'induction/footer.html' %#}

  <!-- include loader -->
  {#% include 'induction/loader.html' %#}

    <!-- <script src="{% static 'induction/bootstrap/js/bootstrap-datepicker.min.js' %}" ></script> -->
    <!-- <script src="{% static 'induction/js/register.js' %}" ></script> -->
  </body>
</html>