{% extends 'induction/base.html' %}
{% load static %}

{% block main %}

<main class="site-main">
    <nav class="breadcrumb-wrap" aria-label="breadcrumb">
    <div class="container">
      <div class=" row justify-content-center">
        <ol class="breadcrumb col col-12 col-sm-10 col-lg-9 col-xl-8">
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'induction:index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'induction:course' %}">My Courses</a></li>
          <li class="breadcrumb-item active" aria-current="page">Certificate</li>
        </ol>
       </div>
     </div>
    </nav>

    <section class="section">
      <div class="container">

        <div class="row justify-content-center">
           {% if messages %}
            <div class="col-md-12" align="center">
              <div class="alert alert-success">
                {% for message in messages %}
                 {{ message }}
                {% endfor %}
              </div>
            </div>
            {% endif %}

          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">
            
            <div id='certificate_body' style="color: #495057;">

                <div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
                <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">

                    <div><img src="{% static 'induction/electrogas-logo-240w.png' %}"></div>
                    <div style="font-size:50px; font-weight:bold; color: #495057;">Certificate of Completion</div>
                    
                    <div style="font-size:22px; margin-bottom: 5px;"><i>This is to certify that</i></div>
                   

                    <div style="font-size:30px; margin-bottom: 5px;"><b>
                      {% if user_session.first_name and user_session.last_name %}
                        {{ user_session.first_name }} {{ user_session.last_name }}
                      {% elif user_session.first_name %}
                        {{ user_session.first_name }}
                      {% else %}
                        {{ user_session.username }}
                      {% endif %}
                    </b></div>


                    <div style="font-size:22px; margin-bottom: 5px;"><i>has completed the course</i></div> 

                    <div style="font-size:30px; margin-bottom: 5px;">{{ history_data.course.course_title }}</div> 

                    <div style="font-size:22px; margin-bottom: 5px;"><i>with score of <b>{{history_data.user_course_obtained_percentage|floatformat:2}}%</i></b></div>
                    <div style="font-size:22; margin-bottom: 5px;"><i>Completed Date: {{ history_data.user_course_complete_date.date }}</i></div>

                    
                    <div style="font-size:22; margin-bottom: 5px;"><i>Expiry Date: {% if history_data.user_course_validity > 0 %}{{ history_data.user_course_expiry_date.date }}{% else %} -------- {% endif %}</i></div>

                    <div>
                      <img src="{% static 'induction/BumiArmada.JPG' %}" style="width: 70px;height:50px;"> 
                      <img src="{% static 'induction/es3.jpeg' %}" style="width: 70px;height:50px;">
                      <img src="{% static 'induction/Logo Reganosa.jpeg' %}" style="width: 70px;height:50px;">
                      <img src="{% static 'induction/SGS.jpg' %}" style="width: 70px;height:50px;">
                    </div>
                    
               
                    <table style="margin-top:10px;float:right">
                      <tr>
                        <td><div><b>Electrogas Organisation</b></div></td>
                      </tr>
                      <tr>
                        <td style="width:190px;float:right;border:0;border-bottom:1px solid #000;"></td>
                      </tr>
                      <tr>
                        <td style="text-align:center"><div><b>Signature</b></div></td>
                      </tr>
                    </table>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">
            <div class="btn-wrap row justify-content-between">
               <span><a href="{% url 'induction:course' %}" class="btn btn-primary" style='float: left;'>Go to course</a></span>
               
              <span><form method="post" action="{% url 'induction:certificate_mail' %}">
                 {% csrf_token %}
                 <input type="hidden" name="history_id" value="{{ history_data.id }}">
                 <input type="hidden" name="course_name" value="{{ history_data.course.course_title }}">
                 <input type="hidden" name="percentage" value="{{history_data.user_course_obtained_percentage|floatformat:2}}">
                 <input type="hidden" name="completeddate" value="{{ history_data.user_course_complete_date.date }}">
                 <input type="hidden" name="expirydate" value="{{ history_data.user_course_expiry_date.date }}">
                 <input type="hidden" name="course_validity" value="{{ history_data.user_course_validity }}">
                 
                 <button class="btn btn-primary" align = "center" type="submit">Send Certificate by Email</button>
              </form></span>

              <span><a href="#" class="btn btn-primary" id="printCertificate">Print Certificate</a></span>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>

<script src="{% static 'induction/js/certificate.js' %}" ></script>
  {% endblock %}