{% extends 'induction/base.html' %}
{% load static %}

{% block main %}
<script src="{% static 'induction/js/course.js' %}" ></script>

<main class="site-main">
    <nav class="breadcrumb-wrap" aria-label="breadcrumb">
    <div class="container">
      <div class=" row justify-content-center">
        <ol class="breadcrumb col col-12 col-sm-10 col-lg-9 col-xl-8">
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'induction:index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Courses History</li>
        </ol>
       </div>
     </div>
    </nav>

    <section class="section">
      <div class="container">
        {% if history_list %}
        <div class="row justify-content-center">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8 alert alert-info pt-4">
            <ul>
              <li> Click on course name to show the question-answer history.</li>
              <li> You can take pre-defined action by clicking on action of the specifc course.</li>
            </ul>
          </div>
        </div>
        {% endif %}
     
        <div class="row justify-content-center pt-4">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">
            <div class="table-responsive">

              <table class="table">
                <thead>
                  <tr style="background-color: #00aaac; color: white; font-family: sans-serif">
                    <th scope="col">Course Name</th>
                    <th scope="col">Result</th>
                    <th scope="col"></th>
                    <th scope="col">Dates</th>
                    <th scope="col" width="5%">Action</th>
                  </tr>
                </thead>
                <tbody>

              {% if history_list %}
                {% for history in history_list %}
                  <tr>
                    <th scope="row"><a href="javascript:void(0)" title="View Questions history" id="{{history.id}}" class="historyClick">{{ history.course.course_title }}</a></th>
                    <td>{{ history.user_course_result }}</td>
                    
                    <td>
                      {% if history.user_course_result != 'Pending' %}
                      <strong>Percentage: </strong>{{ history.user_course_obtained_percentage|floatformat:2 }}%<br>
                      {% endif %}
                      <strong>Total Marks: </strong> {{history.user_course_total_marks}}
                      {% if history.user_course_result != 'Pending' %}
                      <br><strong>Obtained Marks: </strong> {{history.user_course_obtained_marks}}
                      {% endif %}
                    </td>

                    <td>
                      <strong>Attempted On: </strong>{{ history.user_course_attempt_date.date }}
                      {% if history.user_course_result != 'Pending' %}
                        <br><strong>Completed On: </strong> {{ history.user_course_complete_date.date }}
                        {% if history.user_course_result == 'Pass' %}
                          <br><strong>Expired On: </strong>{% if history.user_course_validity > 0 %}{{ history.user_course_expiry_date.date }}{% else %} -------- {% endif %}
                        {% endif %}
                      {% endif %}
                    </td>

                    <td align='center'>
                      {% if history.user_course_result == 'Pass' %}
                      <a href="{% url 'induction:certificate' history.id %}" title="View Certificate" target="_blank">
                        <img src="{% static 'induction/certificate.png' %}" style="max-width: 50%;max-height: 50%;">
                      </a>
                      {% endif %}
                       {% if history.user_course_result == 'Fail' %}
                      <a href="{% url 'induction:course_detail' history.course.id %}" title="Re-attempt" >
                        <img src="{% static 'induction/reattempt.png' %}" style="max-width: 50%;max-height: 50%;">
                      </a>
                      {% endif %}
                      {% if history.user_course_result == 'Pending' %}
                      <a href="{% url 'induction:course_detail' history.course.id %}" title="Start Course" >
                        <img src="{% static 'induction/start.png' %}" style="max-width: 50%;max-height: 50%;">
                      </a>
                      {% endif %}
                    </td>
                  </tr>
                
                {% endfor %}

              {% else %}
                <tr><td colspan="5" align='center'>Nothing to show in history</td></tr>
              {% endif %}
              </tbody>
              </table>

            </div>
          </div>
        </div>

        <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">History Questions Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>

  {% endblock %}