{% extends 'induction/base.html' %}
{% load static %}

{% block main %}
<main class="site-main">
    <nav class="breadcrumb-wrap" aria-label="breadcrumb">
    <div class="container">
      <div class=" row justify-content-center">
        <ol class="breadcrumb col col-12 col-sm-10 col-lg-9 col-xl-8">
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'induction:index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Courses</li>
        </ol>
       </div>
     </div>
    </nav>

    <section class="section">
      <div class="container">

         {% if messages %}
          <div class="row justify-content-center">
            <div class="col col-12 col-sm-10 col-lg-9 col-xl-8 alert alert-info">
              {% for message in messages %}
               {{ message }}
              {% endfor %}
            </div>
          </div>
          {% endif %}

        <div class="row justify-content-center">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">
            <h4>{{site.course_list_note_title|safe}}</h4>
            <p>{{site.course_list_note|safe}}</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">

            <div class="row mt-5 course-list">

              {% if course_list %}
              {% for course in course_list %}
              <div class="col col-12 col-sm-6 col-md-4 course-item">
                <a href="{{ course.id }}">
                  <div class="course-item-wrap">
                    <h5>{{ course.name }}</h5>
                  </div>
                </a>
              </div>
              {% endfor %}
              {% else %}
                <div class="col col-12 col-sm-6 col-md-12 course-item"><a class="course-item-wrap">No courses are assigned yet. <br> Kindly contact Administration on <b>{{site.admin_contact|safe}}</b></a></div>
             {% endif %}
              
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}