{% extends 'induction/base.html' %}
{% load custom_filters %}
{% load static %}

{% block main %}

<main class="site-main">
    <nav class="breadcrumb-wrap" aria-label="breadcrumb">
    <div class="container">
      <div class=" row justify-content-center">
        <ol class="breadcrumb col col-12 col-sm-10 col-lg-9 col-xl-8">
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'induction:index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'induction:course' %}">My Courses</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ course.course_title }}</li>
        </ol>
       </div>
     </div>
    </nav>

    <section class="section">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">
            <h4>{{ course.course_title }}</h4>
            {% if course %}<p>{{ course.course_description|safe }}</p>{% endif %}
          </div>
        </div>
       

        <div class="row justify-content-center">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">

            {% for video in video_list %}
            <div class="row mt-5 justify-content-center">
              <div class="col col-12 col-sm-10">
                  <div class="embed-responsive embed-responsive-16by9" id=video-placeholder>
                    <input type="hidden" id="videoID" value="{{video.id}}">
                    <input type="hidden" id="youTubeVideoId" value="{{video.video_url|get_youtube_video_id}}">
                  </div>
                <div class="mt-2" align="center"><small ><strong>{{video.video_title}}</strong></small></div>
                <!-- <div class="mt-2" align="center"><small ><strong id=current-time></strong></small></div> -->
                <!-- <div class="mt-2" align="center"><small ><strong id =duration></strong></small></div> -->
                <hr>
              </div>
            </div>
            {% endfor %}
            
            <div class="row mt-5 justify-content-center">
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">

                  <li class="page-item{% if not video_list.has_previous %} disabled{% endif %}">
                    <a class="page-link" href="{% if video_list.has_previous %}?page={{ video_list.previous_page_number }}{% endif %}" {% if not video_list.has_previous %}tabindex="-1"{% endif %}>Previous</a>
                  </li>
                 
                  {% for pg in video_list.paginator.page_range %}
                    <li class='page-item{% if pg >= current_page %}{% if page|stringformat:"s" != pg|stringformat:"s" %} {% if page %} disabled {% else %} {% if forloop.counter != 1 %} disabled{% endif %}{% endif %}{% endif %}{% endif %}'><a class="page-link" href="?page={{ pg }}"  tabindex="{% if page|stringformat:'s' != pg|stringformat:'s' %} -1{% endif %}" style="{% if page|stringformat:'s' == pg|stringformat:'s' %}background-color: #00aaac; color: #ffffff;{% endif %}">{{ pg }}</a></li>
                  {% endfor %}

                  
                  <li id="next-button" class="page-item {% if not video_list.has_next %} disabled{% endif %}">
                    <a class="page-link" href="{% if video_list.has_next %}?page={{ video_list.next_page_number }}{% endif %}" {% if not video_list.has_next %}tabindex="-1"{% endif %}>Next</a>
                  </li> 
                 

                </ul>
              </nav>
            </div>

            {% if not video_list.has_next %}
            <div class="btn-wrap" id="btnQuestionnaire" style="display: none; margin-top: 0px;">
              <form method="post" action="{% url 'induction:go_to_question' %}">
                 {% csrf_token %}
                 <button class="btn btn-primary" type="submit">Go To Questionnaire</button>
              </form>
            </div>
            {% endif %}

          </div>
        </div>
        
      </div>
    </section>
  </main>
  <script type="text/javascript">
    var is_completed = "{{is_completed}}";
    var page = "{{page}}";
    var last_page = "{{last_page}}";
    var history_id = "{{history_id}}"
  </script>
  <script src="{% static 'induction/js/youtubecontrol.js' %}" ></script>
<script src="{% static 'induction/js/iframe_api.js' %}" ></script>
<!-- <script src="https://www.youtube.com/iframe_api"></script> -->
  {% endblock %}