{% extends 'induction/base.html' %}
{% load static %}

{% block main %}

<div class="container form-container-top">
  
  <div class="row no-gutters">
    <div class="col-md-12 text-center title-col">
      <h2>Login</h2>
    </div>
  </div>

  <form id="login" method="post" action="" class="pt-2">
    {% csrf_token %}
    <div class="row pt-4">
      
      {% if msg %}
      <div class="col-md-12" align="center">
        <div class="alert alert-danger">
          {{ msg }}
        </div>
      </div>
      {% endif %}

      <div class="form-group col-md-12">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username / Email Address">
      </div>
      <div class="form-group col-md-12">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      
    </div>
    <button type="submit" class="btn btn-primary mt-3 mb-3">Sign in</button>
  </form>

  <div align="center">
    <a href="{% url 'induction:register' %}">Not Registered?</a>
  </div>
  <div align="center">
    <a href="#">Forget password</a>
  </div>

</div>

<script src="{% static 'induction/js/jquery.validate.min.js' %}" ></script> <!-- validation -->
<script src="{% static 'induction/js/login.js' %}" ></script> <!-- custom js for login form -->

{% endblock %}