	
{% load static %}
<div class="d-block text-center mt-5 mb-5 .container-fluid">
	<h1><a href="{% url 'induction:index' %}"><img src="{% static 'induction/electrogas-logo-240w.png' %}"></a></h1>
</div>