{% extends 'induction/base.html' %}
{% load static %}

{% block main %}

<main class="site-main">
	<nav class="breadcrumb-wrap" aria-label="breadcrumb">
	<div class="container">
		<div class=" row justify-content-center">
		  <ol class="breadcrumb col col-12 col-sm-10 col-lg-9 col-xl-8">
		    <li class="breadcrumb-item active" aria-current="page">Home</li>
		  </ol>
		 </div>
	 </div>
	</nav>

    <section class="section">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">
            <h2>Welcome {% if user_session.first_name %}{{ user_session.first_name }}{% elif user_session.last_name %}{{ user_session.last_name }}{% else %}{{ user_session.username }}{% endif %} to Electrogas Malta !</h2>
          </div>
        </div>
        <div class="row justify-content-center" style="margin: 25px;">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">
            
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">
            <h4>{{site.welcome_note_title|safe}}</h4>
            <p>
              {{site.welcome_note|safe}}
            </p>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">
            <div class="btn-wrap">
              <a href="{% url 'induction:course' %}" class="btn btn-primary">Go To Courses</a>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>

  {% endblock %}