	
{% load static %}
<header class="site-header fixed-top">
	<div class="container">
		<nav class="navbar navbar-expand">
			<a class="navbar-brand" href="{% url 'induction:index' %}"><img src="{% static 'induction/electrogas-logo-240w.png' %}"></a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  <div class="user-icon">
						  <img src="{% static 'induction/man.png' %}" alt="User Icon">
					  </div>
					Hi, {% if user_session.first_name%}
                          {{ user_session.first_name }}
                        {% else %}
                          {{ user_session.username }}
                        {% endif %}
				  </a>
				  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'induction:course' %}">My Courses</a>
					<a class="dropdown-item" href="{% url 'induction:history' %}">Courses History</a>
					<a class="dropdown-item" href="{% url 'induction:profile-update' %}">My Profile</a>
					<a class="dropdown-item" href="{% url 'induction:password_update' %}">Change Password</a>
					<!-- <a class="dropdown-item" href="#"> Logout</a> -->
					<form method="post" action="{% url 'induction:logout' %}">
						{% csrf_token %}
						<button class="dropdown-item" type="submit">Logout</button>
					</form>
				  </div>
				</li>
			  </ul>
			</div>
		  </nav>
	</div>
</header>