{% extends 'induction/base.html' %}
{% load static %}

{% block main %}
   <!-- <link rel="stylesheet" href="{% static 'induction/css/jquery.datetimepicker.min.css' %}" /> -->
<main class="site-main">
    <nav class="breadcrumb-wrap" aria-label="breadcrumb">
    <div class="container">
      <div class=" row justify-content-center">
        <ol class="breadcrumb col col-12 col-sm-10 col-lg-9 col-xl-8">
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'induction:index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">My Profile</li>
        </ol>
       </div>
     </div>
    </nav>

    <section class="section">
  <div class="container form-container-top">
   
    <div class="row no-gutters">
      <div class="col-md-12 text-center title-col">
        <h2>My Profile</h2>
      </div>
    </div>

    <div class="justify-content-center">
    <form id='profile' method="post" action="{% url 'induction:profile-update' %}">

      {% csrf_token %}

      {% if msg %}
        <div class="row pt-4">
          <div class="col-md-12" align="center">
            <div class="alert alert-danger">
              {{ msg| safe }}
            </div>
          </div>
        </div>
      {% endif %}

      <div class="row pt-4">

        {% if messages %}
      <div class="col-md-12" align="center">
        <div class="alert alert-success">
          {% for message in messages %}
           {{ message }}
          {% endfor %}
        </div>
      </div>
      {% endif %}

        <div class="row col-md-12">
        <div class="form-group col-md-2">
          <label>First Name:</label>
        </div>
        <div class="form-group col-md-8">
          <input type="text" class="form-control mandatory" id="first_name" name="first_name" placeholder="First Name" value="{% if user.first_name %}{{user.first_name}}{% endif %}">
        </div>
        </div>
        
        <div class="row col-md-12">
         <div class="form-group col-md-2">
          <label>Last Name:</label>
        </div>
        <div class="form-group col-md-8">
          <input type="text" class="form-control mandatory" id="last_name" name="last_name" placeholder="Last Name" value="{% if user.last_name %}{{user.last_name}}{% endif %}">
        </div>
        </div>

        <div class="row col-md-12">
         <div class="form-group col-md-2">
          <label>{% if user_group != 'Employee' %}ID Card:{% else %}ID/Passport Number:{% endif %}</label>
        </div>
         <div class="form-group col-md-8">
          <input type="text" class="form-control mandatory" id="id_card" name="id_card" placeholder="Id Card Number" value="{% if user_group == 'Visitor' %}{% if user.visitor_id_card_number %}{{ user.visitor_id_card_number }}{% endif %}{% elif  user_group == 'Contractor' %}{% if user.contractor_id_card_number %}{{ user.contractor_id_card_number }}{% endif %}{% elif  user_group == 'Employee' %}{% if user.employee_id_card_number %}{{ user.employee_id_card_number }}{% endif %}{% else %}{% if user.user_id_card_number %}{{ user.user_id_card_number }}{% endif %}{% endif %}">
          {% if user_group.name == 'Contractor' %}
            <input type="hidden" id="company_name" value="{{ user.contractor_company_name }}">
          {% endif %}
          <input type="hidden" id="user_group" value="{{ user_group }}">
        </div>
        </div>

        <div class="row col-md-12">
         <div class="form-group col-md-2">
          <label>Phone:</label>
        </div>
          <div class="form-group col-md-8">
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" value="{% if user_group == 'Visitor' %}{% if user.visitor_phone_number %}{{ user.visitor_phone_number }}{% endif %}{% elif  user_group == 'Contractor' %}{% if user.contractor_phone_number %}{{ user.contractor_phone_number }}{% endif %}{% elif  user_group == 'Employee' %}{% if user.employee_phone_number %}{{ user.employee_phone_number }}{% endif %}{% else %}{% if user.user_phone_number %}{{ user.user_phone_number }}{% endif %}{% endif %}">
        </div>
        </div>
        
        <div class="row col-md-12">
          <div class="form-group col-md-2">
        </div>
          <div class="form-group col-md-8" align="center">
            <button type="submit" class="btn btn-primary mt-3 mb-3" id='submit_profile'>Save Changes</button>
        </div>
        </div>
      
      </div>

     </form>
     </div>
  </div>
</section>
  </main>

<script src="{% static 'induction/js/jquery.validate.min.js' %}" ></script> <!-- validation -->
<script src="{% static 'induction/js/profile.js' %}" ></script>

{% endblock %}