{% extends 'induction/base.html' %}
{% load custom_filters %}
{% load static %}

{% block main %}

<main class="site-main">
    <section class="section">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">
            <h4>{{ course_session.course_title }}</h4>
            <p>{{ course_session.course_description|safe }}</p>
          </div>
          
        </div>

        <div class="row justify-content-center">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">

            <form method="post" action="" id="question-form" onsubmit="return confirm('Are you sure you want to submit this answers?');">
              {% csrf_token %}

              <div id="accordion" class="mt-5">

                {% for history in question_list_history %}
                <div class="card">
                  <div class="card-header" id="heading{{ forloop.counter }}">
                    <h5 class="mb-0">
                      <button type="button" class="btn btn-link question-btn" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                        {{ history.user_course_question.question_title }}
                      </button>
                    </h5>
                  </div>

                  <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.counter == 1 %} show{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
                    <div class="card-body">
                      {% for option in history.user_course_question.option_set.all %}
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="{{ history.id }}" value="{{ option.option_title }}">{{ option.option_title }}
                            </label>
                          </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% endfor %}
                
              </div>

              <div class="btn-wrap">
                <button class="btn btn-primary" type="submit">Submit Answer</button>
              </div>

            </form>

          </div>
        </div>

      </div>
    </section>
  </main>

  {% endblock %}