{% extends 'induction/base.html' %}
{% load static %}

{% block main %}
   <link rel="stylesheet" href="{% static 'induction/css/jquery.datetimepicker.min.css' %}" />

  <div class="container form-container-top">
   
    <div class="row no-gutters">
      <div class="col-md-12 text-center title-col">
        <h2>Register</h2>
      </div>
    </div>
    <form id='register' method="post" action="/register/" enctype="multipart/form-data">

      {% if msg %}
        <div class="row pt-4">
          <div class="col-md-12" align="center">
            <div class="alert {% if success %}alert-success{% else %}alert-danger{% endif %}">
              {{ msg| safe }}
            </div>
          </div>
        </div>
      {% endif %}

      <div class="row">
        {% csrf_token %}
        <div class="col-md-12 text-center mt-4 mb-4">
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="user_type" id="visitor" value="Visitor" checked>
            <label class="form-check-label" for="visitor">Visitor</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="user_type" id="contractor" value="Contractor">
            <label class="form-check-label" for="contractor">Contractor</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="user_type" id="employee" value="Employee">
            <label class="form-check-label" for="employee">Employee</label>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col col-12 col-md-6">
          <div class="camera">
            <video id="video" style="display: none;">Video stream not available.</video>
              <canvas id="canvas" style="display: none;"></canvas>
            <img id="photo" alt="The screen capture will appear in this box." style="display: none;">
            <input type="hidden" name="webcamImg" id="webcamImg">
          </div>
        </div>
        <div class="col col-12 text-center mb-3">
            <input type="button" id="startWebcam" class="btn btn-primary mt-3 mb-3" value="Webcam"></input>
      		<input type="button" id="uploadPicture" class="btn btn-primary mt-3 mb-3" value="Upload Picture"></input>
            <input type="button" id="startbutton" class="btn btn-primary mt-3 mb-3" value="Take Photo" style="display: none;"></input>
            <input type="button" id="clearbutton" class="btn btn-primary mt-3 mb-3" value="Clear Photo" style="display: none;"></input>
            <input type="button" id="stopWebcam" class="btn btn-primary mt-3 mb-3" value="Stop Webcam" style="display: none;"></input>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control mandatory" id="first_name" name="first_name" placeholder="First Name" >
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control mandatory" id="last_name" name="last_name" placeholder="Last Name">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <input type="email" class="form-control mandatory" id="email" name="email" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 file-col">
          <div class="file-col-inner">
          <input type="text" class="form-control mandatory" id="file_text" name="file_text" placeholder="Profile photo" readonly="" style="color: #495057 !important;"><span id="file_size_error" class="error"></span>
          <input type="file" class="form-control file-upload" id="user_image" name="user_image">
          </div>
        </div>

       <div class="form-group col-md-6">
          <input type="text" class="form-control mandatory" id="id_card" name="id_card" placeholder="Id Card Number">
        </div>
      </div>

      <div class="row" id="company_contractor_div">
         <div class="form-group col-md-6">
         <!--  <input type="text" class="form-control mandatory" id="company_name" name="company_name" placeholder="Company Name"> -->
          <select id="area_name" name="area_name" class="form-control mandatory" placeholder="Area Name">
          </select>
        </div>
        <div class="form-group col-md-6">
           <div class="ui-widget">
          <select id="contractor_name" name="contractor_name" class="form-control" placeholder="Contractor Name">
          </select>
          </div>
        </div>
       <!--  <div class="form-group col-md-6">
          
        </div> -->
      </div>

      <div id='visitor_div'>
        <div class="row">
          <div class="form-group col-md-6">
            <div class="input-group date" data-provide="datepicker">
              <input type="text" class="form-control w-100 mandatory" id="visit_datetime" name="visit_datetime" placeholder="Date &amp; Time of Visit" >
              <div class="input-group-addon"> <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                </i>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control mandatory" id="employee_name" name="employee_name" placeholder="Who are you visiting? (Employee)">
           <!--  <select id="employee_name" name="employee_name" class="form-control mandatory" placeholder="Meetup With (Employee)">
          </select> -->
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <textarea type="textarea" class="form-control mandatory" id="purpose_of_visit" name="purpose_of_visit" placeholder="Purpose of visit"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <input type="password" class="form-control mandatory" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group col-md-6">
          <input type="password" class="form-control mandatory" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
        </div>
      </div>

      <div class="row">
        <div class="form-group  col-12">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="accept" name="accept" >
            <label class="custom-control-label" for="accept">I agree to the <a href="{% url 'induction:terms' %}" style="color: #00aaac;" target="_blank">terms and conditions</a> </label>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-3 mb-3" id='submit_register'>Sign up</button>

      <div align="center">
        <a href="{% url 'induction:login' %}">Already Registered?</a>
      </div>
  
    </form>

 
  </div>
 
<script src="{% static 'induction/js/jquery-ui.js' %}"></script> <!-- autocomplete -->
<script src="{% static 'induction/js/jquery.validate.min.js' %}" ></script> <!-- validation -->
<script src="{% static 'induction/js/jquery.datetimepicker.min.js' %}"></script> <!-- datetime picker -->
<script src="{% static 'induction/js/register.js' %}" ></script> <!-- custom js for register form -->


{% endblock %}