{% extends 'induction/base.html' %}
{% load static %}

{% block main %}

<main class="site-main">
    <section class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">
            {% if history_data.user_course_result == 'Pass' %}
            <h2 align='center'>Congratulations {% if user_session.first_name%}
                          {{ user_session.first_name }}
                        {% else %}
                          {{ user_session.username }}
                        {% endif %},<br> You have successfully passed the test! </h2>
            <div align='center'><strong>Pass Percentage: </strong>{{ history_data.user_course_passig_percentage|floatformat:2 }}% - <strong>Your Percentage: </strong>{{ history_data.user_course_obtained_percentage|floatformat:2 }}%</div>
            {% endif %}

            {% if history_data.user_course_result == 'Fail' %}
            <h2 align='center'>Unfortunately, you didn't pass the test. </h2><br>
            <h2 align='center'>Don't worry you can view the video and re-attempt the questionnaire. </h2>
            {% endif %}
          </div>
        </div>

       <div class="row justify-content-center">
          <div class="col col-12 col-sm-10 col-lg-9 col-xl-8">
            <div class="btn-wrap">
              <a href="{% url 'induction:course' %}" class="btn btn-primary" style="{% if history_data.user_course_result == 'Fail' %} align:center{% else %} float: left{% endif %};">Click here to go back to Course Page</a>
              {% if history_data.user_course_result == 'Pass' %}
              <a href="{% url 'induction:certificate' history_data.id %}" class="btn btn-primary" style="float: right;">Click for Certificate</a>
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>

  {% endblock %}