{% extends 'induction/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block main %}
<style>
  .errorlist{
    color: #cc4141;
  }
</style>
<main class="site-main">
    <nav class="breadcrumb-wrap" aria-label="breadcrumb">
    <div class="container">
      <div class=" row justify-content-center">
        <ol class="breadcrumb col col-12 col-sm-10 col-lg-9 col-xl-8">
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'induction:index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Change Password</li>
        </ol>
       </div>
     </div>
    </nav>

    <section class="section">

<div class="container form-container-top">
  
  <div class="row no-gutters">
    <div class="col-md-12 text-center title-col">
      <h2>Change Password</h2>
    </div>
  </div>

  <form method="post">
  {% csrf_token %}

  <div class="row pt-4">
     {% if messages %}
      <div class="col-md-12" align="center">
        <div class="alert alert-success">
          {% for message in messages %}
           {{ message }}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      
      <div class="form-group col-md-12">
        {{ form.old_password|add_class:"form-control"|attr:"placeholder:Enter your old password" }}
        {{ form.old_password.errors }}
      </div>
       <div class="form-group col-md-12">
        {{ form.new_password1|add_class:"form-control"|attr:"placeholder:Enter your new password" }}
        {{ form.new_password1.errors }}
      </div>
       <div class="form-group col-md-12">
        {{ form.new_password2|add_class:"form-control"|attr:"placeholder:Confirm new password" }}
        {{ form.new_password2.errors }}
      </div>
      <div class="form-group col-md-12" align="center">
        <button type="submit" class="btn btn-primary mt-3 mb-3">Change Password</button>
      </div>
  </div>
  </form>


</div>
 </section>
  </main>

{% endblock %}