{% extends 'induction/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block main %}
<div class="container form-container-top">
  
  <div class="row no-gutters">
    <div class="col-md-12 text-center title-col">
      <h2>Email Sent</h2>
    </div>
  </div>

   <p class="pt-2" align="center">Check your inbox.<br>We've emailed you instructions for setting your password. You should receive the email shortly!<hr></p>

</div>

<!-- <script src="{% static 'induction/js/jquery.validate.min.js' %}" ></script> <!-- validation -->
<!-- <script src="{% static 'induction/js/login.js' %}" ></script> <!-- custom js for login form -->

{% endblock %}