{% extends 'induction/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block main %}
<div class="container form-container-top">
  
  <div class="row no-gutters">
    <div class="col-md-12 text-center title-col">
      <h2>Password reset complete</h2>
    </div>
  </div>

   <p class="pt-2" align="center">Your password has been set. You may go ahead and log in now.</p>
   <div align="center"><strong><a href="{% url 'induction:login' %}">Log in</a></strong></div>
   <hr>

</div>
<!-- <script src="{% static 'induction/js/jquery.validate.min.js' %}" ></script> <!-- validation -->
<!-- <script src="{% static 'induction/js/login.js' %}" ></script> <!-- custom js for login form -->

{% endblock %}