{% extends 'induction/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block main %}
<style>
  .errorlist{
    color: #cc4141;
  }
</style>
<div class="container form-container-top">
  
  <div class="row no-gutters">
    <div class="col-md-12 text-center title-col">
      <h2>Reset Password</h2>
    </div>
  </div>

  <form method="post" class="pt-2">
    {% csrf_token %}
      <div class="row pt-4">
       <div class="form-group col-md-12" align="center">
        Forgotten your password?<br> Enter your email address below and you will get the instruction to set a new one.
      </div>
      <div class="form-group col-md-12">
        {{ form.email|add_class:"form-control"|attr:"placeholder:Enter your email address" }}
        {{ form.email.errors }}
      </div>
      <div class="form-group col-md-12" align="center">
        <button type="submit" class="btn btn-primary mt-3 mb-3">Get Reset Password Mail</button>
      </div>
      </div>

  </form>

</div>

<!-- <script src="{% static 'induction/js/jquery.validate.min.js' %}" ></script> <!-- validation -->
<!-- <script src="{% static 'induction/js/login.js' %}" ></script> <!-- custom js for login form -->

{% endblock %}