{% extends 'induction/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block main %}
<style>
  .errorlist{
    color: #cc4141;
  }
</style>
<div class="container form-container-top">
  
  <div class="row no-gutters">
    <div class="col-md-12 text-center title-col">
      <h2>Enter New Password</h2>
    </div>
  </div>

  <form method="post" class="pt-2">
    {% csrf_token %}
      <div class="row pt-4">
       <div class="form-group col-md-12" align="center">
        Please enter your new password twice so we can verify you typed it correctly.
      </div>
      <div class="form-group col-md-12">
        {{ form.new_password1|add_class:"form-control"|attr:"placeholder:New Password" }}
        {{ form.new_password1.errors }}
      </div>
      <div class="form-group col-md-12">
        {{ form.new_password2|add_class:"form-control"|attr:"placeholder:Confirm Password" }}
        {{ form.new_password2.errors }}
      </div>
      <div class="form-group col-md-12" align="center">
        <button type="submit" class="btn btn-primary mt-3 mb-3">Change my password</button>
      </div>
      </div>

  </form>

</div>

{% endblock %}