{% extends "admin/base_site.html" %}
{% load cache controlcenter_tags %}

{% block title %}{{ dashboard.title }}{% endblock %}
{% block extrahead %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ dashboard.media }}
{% endblock %}
{% block content %}

<div class="controlcenter" id="{{ dashboard.slug }}">
    {% if dashboards|length > 1 %}
        <nav class="controlcenter__nav">
            {% for item in dashboards %}
                {% if dashboard == item %}
                    <div class="controlcenter__nav__item controlcenter__nav__item--active">{{ item.title }}</div>
                {% else %}
                    <a class="controlcenter__nav__item" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                {% endif %}
            {% endfor %}
        </nav>
    {% endif %}
    <div class="controlcenter__masonry">
        <div class="controlcenter__masonry__offset">
            {% for group in groups %}
                <div id="{{ group.get_id }}" class="controlcenter__masonry__block controlcenter__masonry__block--w{{ group.get_width }} {{ group.get_class }}" {% for key, value in group.get_attrs.vieitems %}{{ key }}="{{ value }}"{% endfor %}>
                    <div class="controlcenter__widget">
                        {% for widget in group %}
                            <div class="controlcenter__widget__tab{% if forloop.first %} controlcenter__widget__tab--active{% endif %}">{{ widget.title }}</div>
                            <div class="controlcenter__widget__body" {% if group.get_height %}style="height:{{ group.get_height  }}px"{% endif %}>
                                {% if widget.subtitle %}
                                    <div class="controlcenter__widget__subtitle">{{ widget.subtitle }}</div>
                                {% endif %}
                                {% if widget.cache_timeout %}
                                    {% cache widget.cache_timeout controlcenter_widget widget.slug %}
                                        {% include widget.get_template_name %}
                                    {% endcache %}
                                {% else %}
                                    {% include widget.get_template_name %}
                                {% endif %}
                            </div>
                            {% if widget.changelist_url %}
                                <a class="controlcenter__widget__out" href="{{ widget|changelist_url }}" title="Show more"></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="controlcenter__masonry__block--sizer controlcenter__masonry__block--w1"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var el;
    if(document.getElementById("usercoursestatuschart")){
        el = document.getElementById("usercoursestatuschart").childNodes[1].childNodes[3];
    }
    else{
        el = document.getElementById("staffcoursestatuschart").childNodes[1].childNodes[3];
    }
    
    var elChild = document.createElement('div');
    
    var year_label = document.createElement("label");
    year_label.innerHTML = '<b style="margin-left: 10px; margin-top: 10px;">Filter: </b>'
    var year_select = document.createElement("select");

    var current_date = new Date();
    var year = current_date.getFullYear().toString();

    var url_f = getParameterByName('f')

    year_select.options.add( new Option('Current Year', 1, url_f == 1 ? true : false, url_f == 1 ? true : false));
    year_select.options.add( new Option('Previous Year', 2, url_f == 2 ? true : false, url_f == 2 ? true : false));
    year_select.options.add( new Option('Current Month', 3, url_f == 3 ? true : false, url_f == 3 ? true : false));
    year_select.options.add( new Option('Previous Month', 4, url_f == 4 ? true : false, url_f == 4 ? true : false));
    year_select.addEventListener(
     'change',
     function() {
              url = window.location.href.split("?")[0]
              url = url + '?f=' + this.value.toString();
              window.location.href = url
          },
         false
    );
    year_select.setAttribute("style", "margin-left: 10px; margin-top: 10px;");

    elChild.appendChild(year_label);
    elChild.appendChild(year_select);
    el.insertBefore(elChild, el.firstChild);

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
</script>
<style type="text/css">
    .controlcenter__widget_wrap{
        overflow: hidden;
    }
    .controlcenter__widget{
        /*background-color: #417690;*/
        background-color: #79aec8;
        background-image: none;
    }
    .controlcenter__widget__tab, .controlcenter__widget__subtitle{
        color: #fff;
    }
    .controlcenter__widget__tab--active, .controlcenter__widget__subtitle--active{
        color: #2e2e2e;
    }
</style>
{% endblock %}

