body {
    color: #495057;
  }
  body .page-link {
  color: #00aaac;
}

body .btn-link{
  color: #00aaac;
}
    .container {
      max-width: 1200px;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
    a {
      color: #495057;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
    }
    a:focus,
    a:hover {
      color: #999999;
      text-decoration: none;
    }
    .site-header {
      box-shadow: 0 0 10px rgba(33,33,33,0.5);
      background-color: #fff;
    }
    .navbar {
      padding: 20px 0;
    }
    .navbar-brand {
      max-width: 200px;
      padding: 0;
    }
    .site-main {
      padding-top: 90px;
    }
    p:last-child{
      margin-bottom: 0;
    }





.form-container-top
{
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}
.form-container-top form
{
  background-color: #f6f6f6;
   border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  padding: 0 30px 15px;
}
.form-container-top .title-col
{
    background-color: #00aaac;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
    padding: 15px;
}
.form-container-top button
{
  color: #fff;
    background-color: #00aaac;
    border-color: #00aaac;
}
.form-container-top button:hover,
.form-container-top button:focus
{
  background-color: #6c6d70;
    border-color: #6c6d70;
}
.form-container-top .file-col .file-upload:hover
{
  cursor: pointer;
}
.form-container-top .file-col-inner
{
  position: relative;
}
.form-container-top .file-col .file-upload
{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.form-container-top  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgba(51, 51, 51, 0.51);
    outline: 0;
    box-shadow: none;
}

/* autocomplete css*/
.custom-combobox-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.ui-autocomplete {
  background-color: #fff;
  border: 1px solid #ced4da;
  color: #495057;
  list-style: none;
  margin: 0;
  padding: .375rem .75rem;
  width: 24% !important;
}
/* autocomplete css*/

.error{
  color: #cc4141;
}
#accept-error{
  float:right;
}

.navbar-nav .user-icon {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 10px;
}
.navbar-expand .navbar-nav .nav-link {
  padding: 0 0 0 20px;
}
.section {
  padding-top: 70px;
  padding-bottom: 70px;
}
.course-item-wrap {
  border: 1px solid #495057;
  -webkit-border-radius: 5px;
      border-radius: 5px;
  padding: 20px;
  text-align: center;
  min-height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
    -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
    -ms-flex-align: center;
      align-items: center;
}
.course-item:nth-child(n+4) {
  margin-top: 30px;
}
.btn-wrap {
  text-align: center;
  margin-top: 60px;
}
.btn-primary {
  color: #fff;
  background-color: #00aaac;
  border-color: #00aaac;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
  background-color: #6c6d70;
  border-color: #6c6d70;
  color: #fff;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}
.mandatory{
  border: 1px solid #ef8e8ebd;
}

.form-check {
    padding-left: 2.5rem;
}

.question-btn{
  white-space: normal;
  text-align: left;
}



.breadcrumb-wrap {
  background-color: #e9ecef;
    margin-bottom: 1rem;
}

.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin: 0px;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    content: "/";
}

@media screen and (max-width: 767px){
  .navbar-nav .user-icon {
    width: 40px;
    height: 40px;
  }
  .course-item:nth-child(n+4) {
    margin-top: 0;
  }
  .course-item:nth-child(n+3) {
    margin-top: 30px;
  }
}
@media screen and (max-width: 575px){
  .course-item:nth-child(n+3) {
    margin-top: 30px;
  }
  .course-item:nth-child(n+2) {
    margin-top: 30px;
  }
}